service: ${SERVICE_NAME}
provider:
  stackTags: ${LAMBDA_TAGS}
  name: aws
  deploymentBucket: 
    name: ${DEPLOYMENT_BUCKET}
    serverSideEncryption: AES256
  region: ${AWS_DEFAULT_REGION}
functions:
  lambda:
    name: ${LAMBDA_NAME}
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/${IMAGE_REPO_NAME}:${IMAGE_TAG}
    role: ${LAMBDA_ROLE_ARN}
    memorySize: 2048
    timeout: 900
    ephemeralStorageSize: 4096
    environment:
      GDAL_DATA: /var/task/share/gdal
      PROJ_LIB: /var/task/share/proj

